.additionally {
  @include reset-fieldset;
}

.additionally__form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.additionally__title {
  position: relative;
  padding: 0 23px 0 0;
  margin-bottom: 34px;
  font-family: $main-font;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: $main-color;
  background-color: $decorative-color;
}

@media (min-width: $tablet-width) {
  .additionally__title {
    font-size: 36px;
    line-height: 36px;
    padding: 0 41px 0 40px;
    margin-left: -40px;
    margin-bottom: 57px;
  }

  .additionally__form {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    row-gap: 32px;
    column-gap: 60px;
    justify-items: start;
  }
}

@media (min-width: $desktop-width) {
  .additionally__title {
    padding: 0 40px;
    margin-left: -40px;
  }

  .additionally__form {
    display: grid;
    grid-template: auto / 1fr 1fr 1fr 1fr;
    column-gap: 105px;
    row-gap: 35px;
  }
}
