.data-contact {
  @include reset-fieldset;
}

.data-contact__title {
  position: relative;
  display: inline-block;
  padding: 0 14px 0 0;
  margin-bottom: 35px;
  font-family: $main-font;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: $main-color;
  background-color: $decorative-color;
}

.data-contact__label {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 14px;

  &:last-of-type {
    margin: 0;
  }
}

.data-contact__input {
  flex-grow: 1;
  box-sizing: border-box;
  width: 200px;
  height: 45px;
  margin-left: 10px;
  padding: 14px 40px 14px 15px;
  outline: 1px solid #e7e7e7;
  outline-offset: -1px;
  font-family: $main-font;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $second-color;
  border: 0;

  &::placeholder {
    color: $second-color;
    font-size: 16px;
  }

  &:hover {
    outline: 1px solid #cdcdcd;
    outline-offset: -1px;
  }

  &:focus {
    outline: 2px solid $second-color;
    outline-offset: -2px;
  }
}

.data-contact__icon {
  fill: none;
  stroke: $main-color;
  position: absolute;
  right: 15px;
  pointer-events: none;

  &--top-no-center {
    top: 13px;
  }
}

.data-contact__label:focus-within .data-contact__icon {
  stroke: #68b738;
}

.data-contact__label--input-error .data-contact__icon {
  stroke: #ff8282;
}

.data-contact__label--input-error .data-contact__input {
  outline: 2px solid #ff8282;
  outline-offset: -2px;
}

@media (min-width: $tablet-width) {
  .data-contact__title {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 76px;
    padding: 0 42px 0 39px;
    margin-left: -41px;
  }

  .data-contact__title br {
    display: none;
  }

  .data-contact__label {
    margin-bottom: 20px;

    &:last-of-type {
      margin: 0;
    }
  }

  .data-contact__input {
    padding: 11px 45px 11px 20px;
    height: 52px;
    margin-left: 20px;
    font-size: 20px;
    line-height: 30px;

    &::placeholder {
      font-size: 20px;
    }
  }

  .data-contact__icon {
    position: absolute;
    right: 18px;

    &--top-no-center {
      top: auto;
    }
  }
}

@media (min-width: $desktop-width) {
  .data-contact__title {
    padding: 0 40px;
    margin-left: -40px;
    margin-bottom: 76px;
  }

  .data-contact__label {
    flex-grow: 1;
    margin: 0;
  }

  .data-contact__wrapper {
    display: grid;
    grid-template: auto / 1fr 1fr;
    column-gap: 75px;
    row-gap: 35px;
    width: 100%;
  }
}
