.main-header__main-nav {
  box-sizing: border-box;
  min-width: 320px;
  min-height: 66px;
  padding: 10px 6.25% 10px 6.25%;
}

@media (min-width: $tablet-width) {
  .main-header__main-nav {
    padding: 0 3.9% 0 3.9%;
    min-height: 76px;
  }
}

@media (min-width: $desktop-width) {
  .main-header__main-nav {
    box-sizing: border-box;
    padding: 0 110px 0 110px;
    margin: 0 auto;
    max-width: 1440px;
    min-height: 141px;
  }
}
