.address-wrapper {
  display: flex;
  justify-content: space-between;
}

.address-wrapper__invite {
  margin: 0;
  font-family: $main-font;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
}

.addres-wrapper__address {
  font-family: $second-font;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: $second-color;
}
