.address-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: space-between;
  padding: 26px 20px;
  background: #f2f2f2;
}

.address-wrapper__invite {
  margin: 0;
  font-family: $main-font;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
}

.address-wrapper__address {
  padding-right: 2px;
  font-family: $second-font;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: $second-color;
}

.address-wrapper__break:nth-of-type(2) {
  display: none;
}

@media (min-width: $tablet-width) {
  .address-wrapper {
    padding: 60px 70px 56px 70px;

    &--decorative-color {
      background-color: $decorative-color;
    }
  }

  .address-wrapper__invite {
    font-size: 20px;
    line-height: 26px;
  }

  .address-wrapper__address {
    padding: 0;
    text-align: end;
    font-size: 16px;
    line-height: 20px;
    transform: translateY(-5px);
  }

  .address-wrapper__break:nth-of-type(2) {
    display: inline;
  }
}

@media (min-width: $desktop-width) {
  .address-wrapper {
    background-color: $decorative-color;
    gap: 96px;
    justify-content: flex-start;
    padding: 60px 80px 60px 80px;
    min-height: 198px;
    min-width: 565px;
  }

  .address-wrapper__address {
    text-align: start;
  }
}
