.address-wrapper {
  display: flex;
  justify-content: space-between;
  background: #f2f2f2;
}

.address-wrapper__invite {
  margin: 0;
  font-family: $main-font;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
}

.address-wrapper__address {
  font-family: $second-font;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: $second-color;
}

.address-wrapper__break:nth-of-type(2) {
  display: none;
}

@media (min-width: $tablet-width) {
  .address-wrapper {
    &--decorative-color {
      background-color: $decorative-color;
    }
  }

  .address-wrapper__invite {
    font-size: 20px;
    line-height: 26px;
  }

  .address-wrapper__address {
    font-size: 16px;
    line-height: 20px;
  }

  .address-wrapper__break:nth-of-type(2) {
    display: inline;
  }
}

@media (min-width: $desktop-width) {
  .address-wrapper {
    background-color: $decorative-color;
  }

  .address-wrapper__invite {
    margin-right: 87px;
  }
}
