.copyright__text {
  font-family: $second-font;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: $second-color;
  text-decoration: none;
}

.copyright__link {
  text-decoration: none;
}
