.copyright {
  &:hover {
    .copyright__icon {
      fill: #68B738;
    }
  }

  &:active {
    opacity: 0.3;
  }
}

.copyright__text {
  padding: 6px 0 9px 0;
  font-family: $second-font;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: $second-color;
  text-decoration: none;
}

.copyright__link {
  text-decoration: none;
}

.copyright__icon {
  fill: #666666;
}

@media (min-width: $tablet-width) {
  .copyright__text {
    margin-right: 23px;
  }
}
