.copyright {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 40px;
}

.copyright__text {
  display: block;
  font-family: $second-font;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: $second-color;
  text-decoration: none;

  &:active {
    opacity: 0.3;
  }
}

.copyright__link {
  display: block;
  text-decoration: none;
}

.copyright__icon {
  display: block;
  fill: #666666;

  &:active {
    opacity: 0.3;
    fill: #68b738;
  }
}

.copyright__link:hover .copyright__icon {
  fill: #68b738;
}

@media (min-width: $tablet-width) {
  .copyright {
    gap: 28px;
    padding: 0;
  }
}
