.main-footer__wrapper {
  padding: 26px 20px;
}

.main-footer__maps {
  display: block;
}

.main-footer__links-container {
  padding: 39px 20px 22px 20px;
  background-color: $second-background-color;
}

.main-footer__logo {
  border-bottom: 1px solid #ebebeb;
}

.main-footer__social {
  border-bottom: 1px solid #ebebeb;
}
