.main-footer__links {
  background-color: $second-background-color;
}

.main-footer__wrapper {
  box-sizing: border-box;

  max-width: 1440px;
  margin: 0 auto;
}

.main-footer__container {
  position: relative;
  margin: 0 auto;
}

.main-footer__internal-container {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  pointer-events: none;

  @include container;
}

.main-footer__maps {
  display: block;
  border: none;
  width: 100%;
}

.main-footer__links-container {
  padding: 0 20px;

  @include container;
}

.main-footer__logo-container {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ebebeb;
  padding-top: 40px;
  padding-bottom: 20px;
}

.main-footer__logo-text {
  margin: 0 auto;
}

.main-footer__social {
  border-bottom: 1px solid #ebebeb;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  padding-top: 20px;
  padding-bottom: 21px;
}

@media (min-width: $tablet-width) {
  .main-footer__links-container {
    display: flex;
    align-items: center;
    padding: 58px 30px 55px 30px;
  }

  .main-footer__maps {
    height: 400px;
  }

  .main-footer__icon {
    width: 143px;
    height: 26px;
  }

  .main-footer__social {
    align-items: center;
    padding: 0 0 0 25px;
    margin: 0 auto 0;
    border: 0;
  }

  .main-footer__logo-container {
    padding: 0;
    border: 0;
  }
}

@media (min-width: $desktop-width) {
  .main-footer__wrapper {
    position: absolute;
    top: 95px;
    left: 110px;
  }

  .main-footer__links-container {
    padding: 68px 110px 58px 110px;
  }

  .main-footer__social {
    margin: 0 auto;
    transform: translateX(0);
  }
}
