.main-footer__wrapper {
  box-sizing: border-box;
  padding: 26px 6.25%;
  min-width: 320px;
  max-width: 1440px;
  margin: 0 auto;
}

.main-footer__maps {
  display: block;
  border: none;
  width: 100%;

  @include container;
}

.main-footer__links-container {
  padding: 0 6.25% 0 6.25%;
  background-color: $second-background-color;

  @include container;
}

.main-footer__logo-container {
  border-bottom: 1px solid #ebebeb;
  padding-top: 39px;
  padding-bottom: 32px;
}

.main-footer__logo-text {
  display: block;
  margin: 0 auto;
}

.main-footer__social {
  border-bottom: 1px solid #ebebeb;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  padding-top: 20px;
  padding-bottom: 21px;
}

.main-footer__copyright {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 22px;
  padding-bottom: 22px;
}

@media (min-width: $tablet-width) {
  .main-footer__wrapper {
    padding: 60px 9.11% 56px 9.11%;
  }

  .main-footer__links-container {
    display: flex;
    align-items: center;
    padding: 58px 3.9% 55px 3.9%;
  }

  .main-footer__maps {
    height: 400px;
  }

  .main-footer__social {
    align-items: center;
    padding: 0;
    margin: 0 auto 0 155px;
    border: 0;
  }

  .main-footer__copyright {
    padding: 0;
  }

  .main-footer__logo-container {
    padding: 0;
    border: 0;
  }
}

@media (min-width: $desktop-width) {
  .main-footer {
    position: relative;
  }

  .main-footer__wrapper {
    position: absolute;
    top: 95px;
    left: 110px;
    padding: 60px 80px 56px 80px;
  }

  .main-footer__links-container {
    padding: 57px 7.63% 58px 7.63%;
  }

  .main-footer__social {
    margin: 0 auto 0 413px;
  }
}
