.description__wrapper {
  padding: 20px 20px 49px 20px;

  @include container;
}

.description__title {
  font-family: $main-font;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: $main-color;
  margin: 0;
  margin-bottom: 40px;
}

.description__list {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @include reset-list;
}

.description__paragraph {
  @include main-paragraph;
  margin: 0;
  margin-left: 80px;
}

@media (min-width: $tablet-width) {
  .description__wrapper {
    padding: 45px 30px 47px 31px;
  }

  .description__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 37px;
    column-gap: 57px;
    // column-gap: 130px;
    counter-reset: index;
  }

  .description__title {
    margin-bottom: 32px;
    font-size: 60px;
    line-height: 60px;
  }

  .description__item {
    box-sizing: border-box;
    position: relative;
    min-height: 280px;
    padding-top: 151px;

    &::before {
      z-index: -1;
      position: absolute;
      top: 0;
      left: 113px;
      font-size: 280px;
      line-height: 280px;
      color: $second-background-color;
      counter-increment: index;
      content: counters(index, ".", decimal) " ";
    }
  }

  .description__paragraph {
    margin: 0;
    font-size: 16px;
    line-height: 24px;
  }
}

@media (min-width: $desktop-width) {
  .description__wrapper {
    padding: 71px 106px 69px 110px;
  }

  .description__list {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 70px;
  }

  .description__paragraph {
    flex-grow: 1;
  }
}
