.description__wrapper {
  padding: 20px 6.25% 49px 6.25%;

  @include container;
}

.description__title {
  font-family: $main-font;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: $main-color;
  margin: 0;
  margin-bottom: 40px;
}

.description__container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.description__paragraph {
  @include main-paragraph;
  margin: 0;
  margin-left: 80px;
}

@media (min-width: $tablet-width) {
  .description__wrapper {
    padding: 45px 3.9% 47px 3.9%;
  }

  .description__container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 37px;
  }

  .description__title {
    margin-bottom: 32px;
    font-size: 60px;
    line-height: 60px;
  }

  .description__paragraph {
    margin: 0;
    font-size: 16px;
    line-height: 24px;
  }
}

@media (min-width: $desktop-width) {
  .description__wrapper {
    padding: 71px 7.63% 69px 7.63%;
  }

  .description__container {
    flex-direction: row;
  }

  .description__paragraph {
    flex-grow: 1;
  }
}
