.preview__cat-container {
  width: 100%;
  box-sizing: border-box;
  min-height: 302px;
  background: url("/source/img/index/preview-cat.jpg") no-repeat center;
  background-size: cover;
}

.preview__background-container {
  order: 1;
  width: 100%;
  padding: 27px 20px 0 20px;
  box-sizing: border-box;
  min-height: 302px;
  background: rgba(104, 183, 56, 0.85);
}

.preview__title {
  font-family: $main-font;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: $decorative-color;
  margin: 0;
}

.preview__paragraph {
  font-family: $main-font;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: $decorative-color;
  margin: 0;
}

.preview-photos {
  width: 100%;
  height: auto;
}

@media (min-width: $tablet-width) {
  .preview {
    position: relative;
  }

  .preview__cat-container {
    background: none;
    min-height: auto;
  }

  .preview__background-container {
    background: none;
    min-height: auto;
  }

  .preview__title,
  .preview__paragraph {
    color: $main-color;
  }

  .button--program-selection {
    position: absolute;
    top: 250px;
    left: 120px;
  }
}

@media (min-width: $desktop-width) {
  .preview {
    position: relative;
  }

  .preview-photos {
    position: absolute;
    top: 141px;
    left: 38.7%;
    max-width: 558px;
  }
}
